version: "3.7"
services:
  wfuzz:
    build:
      context: ./wfuzz
      dockerfile: Dockerfile
    environment:
      FUZZER_CONFIG: dvwa/sqli_blind_high
    volumes:
      - ./fuzzer:/app
      - ./wfuzz/data:/home/wfuzz/data
    stdin_open: true # docker run -i
    tty: true # docker run -t
