version: "3.7"
services:
  composegen:
    build:
      context: ./composegen
      dockerfile: Dockerfile
    volumes:
      - ./composegen:/app
      - ./fuzzer/configs:/configs
    environment:
      PYTHONUNBUFFERED: 1

  hargen:
    build:
      context: ./hargen
      dockerfile: Dockerfile
    volumes:
      - ./hargen:/app:ro
      - ./fuzzer/resources:/resources:ro
      - ./fuzzer/configs:/configs
    environment:
      PYTHONUNBUFFERED: 1
    stdin_open: true # docker run -i
    tty: true # docker run -t

  crawler:
    build:
      context: ./crawler
      dockerfile: Dockerfile
    volumes:
      - ./crawler:/app:rw
      - ./fuzzer/automated_logins:/automated_logins:ro
    environment:
      PYTHONUNBUFFERED: 1
    stdin_open: true # docker run -i
    tty: true # docker run -t

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    environment:
      APPLICATION_TYPE: dvwa
      FUZZER_COVERAGE_PATH: /var/www/html/
      FUZZER_COMPRESS: 1
      REQUIRES_DB: 1
      #APPLICATION_TYPE: dvwa
      #FUZZER_COVERAGE_PATH: /var/www/html/
      #WP_TARGET_PLUGIN: show-all-comments-in-one-page
    volumes:
      - ./web/applications:/applications/
      - shared-tmpfs:/shared-tmpfs
    ports:
      - 8080:80
      - 8181:8181

  db:
    image: mysql:5
    command: mysqld
    environment:
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: "%"
      MYSQL_USER_HOST: "%"

  burpsuite:
    build:
      context: ./burpsuite
      dockerfile: Dockerfile
    environment:
      FUZZER_CONFIG: dvwa/sqli_low
    volumes:
      - ./fuzzer:/app
      - ./burpsuite/data:/home/burp/data
      - ./burpsuite/.java:/home/burp/.java
    stdin_open: true # docker run -i
    tty: true # docker run -t

  zap:
    build:
      context: ./zap
      dockerfile: Dockerfile
    environment:
      FUZZER_CONFIG: dvwa/sqli_low
    volumes:
      - ./fuzzer:/app
      - ./zap/data:/zap/data
    stdin_open: true # docker run -i
    tty: true # docker run -t

  wapiti:
    build:
      context: ./wapiti
      dockerfile: Dockerfile
    environment:
      FUZZER_CONFIG: dvwa/sqli_low
    volumes:
      - ./fuzzer:/app
      - ./wapiti/data:/home/wapiti/data
    stdin_open: true # docker run -i
    tty: true # docker run -t

  wfuzz:
    build:
      context: ./wfuzz
      dockerfile: Dockerfile
    environment:
      FUZZER_CONFIG: dvwa/sqli_low
    volumes:
      - ./fuzzer:/app
      - ./wfuzz/data:/home/wfuzz/data
    stdin_open: true # docker run -i
    tty: true # docker run -t


  fuzzer-dvwa-sqli-low-1:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 1
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-2:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 2
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-3:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 3
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-4:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 4
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-5:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 5
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-6:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 6
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-7:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 7
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs

  fuzzer-dvwa-sqli-low-8:
    build:
      context: ./fuzzer
      dockerfile: Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
      FUZZER_NODE_ID: 8
      FUZZER_CONFIG: dvwa/sqli_low
      FUZZER_CLEANUP: 1
      FUZZER_COMPRESS: 1
    volumes:
      - ./fuzzer:/app
      - shared-tmpfs:/shared-tmpfs
      - sync-tmpfs-dvwa-sqli_low:/sync-tmpfs


volumes:
  shared-tmpfs:
    driver: local
    driver_opts:
      type: "tmpfs"
      device: "tmpfs"
      o: "size=1024m,uid=1000"
  sync-tmpfs-dvwa-sqli_low:
    driver: local
    driver_opts:
      type: "tmpfs"
      device: "tmpfs"
      o: "size=1024m,uid=1000"

  